
# Created by https://www.toptal.com/developers/gitignore/api/macos,scrivener
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,scrivener

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Scrivener ###
*/Files/binder.autosave
*/Files/binder.backup
*/Files/search.indexes
*/Files/user.lock
*/Files/Docs/docs.checksum
*/Files/Data/docs.checksum
*/QuickLook/
*/Settings/ui.plist

# End of https://www.toptal.com/developers/gitignore/api/macos,scrivener
